<% if post.user.first_name %>
    <% display_name = post.user.first_name + " " + post.user.last_name %>
<% else %>
    <% display_name = post.user.email %>
<% end %>

<% if user_signed_in? %>
    <h2><%= display_name %></h2>
<% else %>
    <h2><%= "-"*display_name.length %></h2>
<% end %>

<h3><%= post.title %></h3>
<p><%= post.body %></p>